/* Tristan Potter, 2013
** This file is the style-sheet for my website at http://csclub.uwaterloo.ca/~twmpotte
** I used the free open source font Exo found at: http://www.google.com/fonts/specimen/Exo
**     used under the SIL Open Font License, version 1.1 which can be viewed here:
**     http://scripts.sil.org/OFL
*/
/*@import url(http://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,100italic,200italic,300italic,400italic,500italic,600italic,700italic);*/
/*
@font-face{
    font-family:"Exo Thin";
    src: url(exo/Exo-Thin.otf);
}
@font-face{
    font-family:"Exo Thin";
    font-weight:bold;
    src: url(exo/Exo-Medium.otf);

}
@font-face{
    font-family:"Exo Light";
    src: url(exo/Exo-Light.otf);
}
*/

/*      Defaults        */
body{
    width: 100%;
    margin: 0 auto;
    font-family:"Exo", Helvetica Neue, Helvetica, Arial, Sans-Serif;
    letter-spacing: 0.12em;
}

/* Navbar */
.navbar-main{
    background-color: #292929;
    color : #7A991A;
}

.nav-link{
    color : #7A991A;
}
.nav-link:hover{
    background-color: #7A991A;
    color: #000;
}
.nav-link a{
    color:#98bf21;
}
.nav-link a:hover,a:active{
    color: #000;
}

a.navbar-brand{
    color:#98bf21;
}
a.navbar-brand:hover,a.navbar-brand:active{
    color: #49671e;
}

.navbar .icon-bar{
    background-color: #98bf21;
}

/* Background */
.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -99999999;
}

.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}


#hero {
    background-color: white;
}

#hero h1 {
    font-size: 8em;
}

.container{
    background-color: white;
}

footer{

}


.clear{ /* allows for the reseting of floats and such*/
    clear:both;
}

.pull-right{
    float:right;
}
.pull-left{
    float:left;
}

.feature-spacer{
    margin:40px 0;
}
