<!DOCTYPE html>
<!--
Tristan Potter 2014
http://csclub.uwaterloo.ca/~twmpotte
This is a website about me, using the font Exo found at http://www.google.com/fonts/specimen/Exo
Used with regards to the SIL Open Font License 1.1 : http://scripts.sil.org/OFL

/index.html
This is the homepage.
-->
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    <script src="{% static 'js/jquery-1.11.1.js' %}"></script>
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.1.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
       queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page
       via file:// -->
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
            html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/
            respond.min.js"></script>
      <![endif]-->

    {% block head %}{% endblock %}

    <title>Tristan Potter</title>
</head>

<body>
<div class="container">
    <div class="navbar navbar-main navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header brand">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Tristan Potter</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-link"><a href="/projects">Projects</a></li>
                    <li class="nav-link"><a href="/involvements">Involvements</a></li>
                    <li class="nav-link"><a href="/about">About</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>
</div>

{% block hero %}
{% endblock %}
{% block main %}
{% endblock %}
<footer>
    <p class="text-center"> stuff that goes in footer here!!</p>
</footer>
<script src="{% static 'bootstrap-3.1.1-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>
