<!DOCTYPE html>
<!--
Tristan Potter 2014
http://csclub.uwaterloo.ca/~twmpotte
This is a website about me, using the font Exo found at http://www.google.com/fonts/specimen/Exo
Used with regards to the SIL Open Font License 1.1 : http://scripts.sil.org/OFL

/index.html
This is the homepage.
-->
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'personal/css/base.css' %}">
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.1.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
       queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page
       via file:// -->
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
            html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/
            respond.min.js"></script>
      <![endif]-->

    {% block head %}{% endblock %}

    <title>Tristan Potter</title>
</head>

<body>
{# Background image #}
<div class="bg">
    <img src="{% static 'personal/img/math_and_computer_building_1.jpg' %}">
</div>
<div class="container">
    <div class="navbar navbar-main navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header brand">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'personal_index' %}">Tristan Potter</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-link"><a href="{% url 'personal_projects' %}">Projects</a></li>
                    <li class="nav-link"><a href="{% url 'personal_involvements' %}">Involvements</a></li>
{#                    TODO Figure out a better way to do resume#}
{#                    TODO UPDATE RESUME FILE!!!#}
                    <li class="nav-link"><a href="{% static 'personal/img/Tristan_Potter_Resume.pdf' %}">Resume</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>
</div>
<div id="nav-spacer" style="height: 50px;"></div>
<div class="container">
{% block hero %}
{% endblock %}
    {% block main %}
    {% endblock %}
</div>
<footer class="container">
    <p class="text-center">
        Copyright: Tristan Potter 2014 &copy;
    </p>

    <p class="text-center">
        <a href="mailto:twmpotte@uwaterloo.ca">twmpotte@uwaterloo.ca</a>
    </p>
</footer>
<script src="{% static 'js/jquery-1.11.1.js' %}"></script>
<script src="{% static 'bootstrap-3.1.1-dist/js/bootstrap.min.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
