{% extends 'personal/base.html' %}
{% load static %}
{% block scripts %}
    <script src="{% static 'personal/js/projects.js' %}"></script>
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'personal/css/projects.css' %}">
{% endblock %}

{% block hero %}
    <div class="container">
        <hr class="feature-spacer">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Projects </h1>

                <p> I like to program, and these are some things I have done. Unfortunately, some of them were done when I
                    didn't have GitHub, so the versions seen are random backups I found.</p>
                <p> If you have any questions about any of them, email me at <code> twmpotte@uwaterloo.ca</code>.</p>
            </div>
        </div>
        <hr class="feature-spacer">
    </div>
{% endblock %}
{% block main %}
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="project">
                    <img src="{% static 'personal/img/links-pi-cristian.png' %}" class="img-circle">
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="project">
                    <img src="{% static 'personal/img/links-pi-cristian.png' %}" class="img-circle">
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="project">
                    <img src="{% static 'personal/img/links-pi-cristian.png' %}" class="img-circle">
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="project">
                    <img src="{% static 'personal/img/links-pi-cristian.png' %}" class="img-circle">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="project">
                    <img src="{% static 'personal/img/links-pi-cristian.png' %}"
                         width="170" height="170"
                         class="img-circle">
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="project">
                    <img src="{% static 'personal/img/links-pi-cristian.png' %}" class="img-circle">
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="project">
                    <img src="{% static 'personal/img/links-pi-cristian.png' %}" class="img-circle">
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="project">
                    <img src="{% static 'personal/img/links-pi-cristian.png' %}" class="img-circle">
                </div>
            </div>
        </div>
        <hr class="feature-spacer">
{% endblock %}
