/* Tristan Potter, 2013
** This file is the style-sheet for my website at http://csclub.uwaterloo.ca/~twmpotte
** I used the free open source font Exo found at: http://www.google.com/fonts/specimen/Exo
**     used under the SIL Open Font License, version 1.1 which can be viewed here:
**     http://scripts.sil.org/OFL
*/

/* Carousel stuff. from now on this is index only*/
#carousel-wrapper{
    position : relative;

    padding: 50% 0 0 0;
    height : 0;

    background-color: grey;
}
#carousel{
    position:absolute;
    display: block;
    top: 0;
    bottom: 0;
    left : 0;
    right: 0;

    overflow: hidden;

    background-color: red;

}

.carousel-nav{
    position: absolute;
    display:block;
    top : 50%;
    margin: -50px 0 0 0;
    width: 50px;
    z-index: 9999;
}

.left{
    left: 15px;
}

.right{
    right: 15px;
}

#carousel-inner{
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding:0;
    white-space: nowrap;

    list-style: none;

    right:0;
    top:0;
    left:0;
    bottom:0;
}
/*.carousel-slide{*/
    /* kept for legacy purposes*/
    /*position: relative;*/
    /*display: inline-block;*/

    /*width : 100%;*/
    /*height: 100%;*/
/*}*/
#carousel-inner li{
    position:relative;
    list-style: none;
    display: inline;
    margin:0;
    padding:0;
}

.carousel-item{
    position:relative;
    list-style: none;
    display: inline;
    margin:0;
    padding:0;
}

.carousel-image{
    height : 100%;
    width: 100%;
    margin:0;
    padding:0;
}

.carousel-desc{
    position:absolute;
    bottom : 0;
    left: 0;
    padding: 20px 0 20px 20px;
    margin: 0;
    background-color: rgba(0,0,0,0.7);
    /*width: 100%;*/
    z-index: 999;
}



